<!DOCTYPE HTML>
<html>
<head>
    <title>Guest Book</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Guest Book" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <!-- Graph CSS -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <!-- jQuery -->
    <!----webfonts--->
    <link href='//fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
    <!---//webfonts--->
    <!-- Meters graphs -->
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-route.js"></script>
    <script type="text/javascript" src="js/angular-local-storage.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <!-- Placed js at the end of the document so the pages load faster -->

</head>

<body ng-app="myApp" class="sticky-header left-side-collapsed" onload="initMap()">
    <section>

        <!-- main content start-->
        <div class="main-content main-content3" ng-controller="formController">
            <div id="page-wrapper">
                <div class="graphs">
                    <h3 class="blank1">Guest Book</h3>
                    <div class="tab-content">
                    </div>
                    <div class="panel-body panel-body-inputin" style="background:#fff;">
                        <form role="form">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Fullname</label>
                                <div class="col-md-4">
                                    <div class="input-group in-grp1">
                                        <span class="input-group-addon">
                                            <i class="fa fa-user"></i>
                                        </span>
                                        <input ng-model="txtfullname" type="text" class="form-control1" id="exampleInputPassword1" placeholder="Fullname">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Email Address</label>
                                <div class="col-md-4">
                                    <div class="input-group in-grp1">
                                        <span class="input-group-addon">
                                            <i class="fa fa-envelope-o"></i>
                                        </span>
                                        <input ng-model="txtemailaddress" type="text" class="form-control1" placeholder="Email Address">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Phone Number</label>
                                <div class="col-md-4">
                                    <div class="input-group input-icon right in-grp1">
                                        <span class="input-group-addon">
                                            <i class="fa fa-phone"></i>
                                        </span>
                                        <input ng-model="txtphonenumber" id="phone" class="form-control1" type="text" placeholder="Phone Number">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Home Address</label>
                                <div class="col-md-4">
                                    <div class="input-group input-icon right in-grp1">
                                        <span class="input-group-addon">
                                            <i class="fa fa-home"></i>
                                        </span>
                                        <input ng-model="txthomeaddress" type="text" class="form-control1" placeholder="Home Address">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Social Media Address</label>
                                <div class="col-md-4">
                                    <div class="input-group input-icon right in-grp1">
                                        <span class="input-group-addon">
                                            <i class="fa fa-globe"></i>
                                        </span>
                                        <input ng-model="txtsocialmediaaddress" type="url" class="form-control1" placeholder="Social Media Address">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="bs-example" data-example-id="form-validation-states-with-icons">
                        <form>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="div-btn">
                                        <button class="btn-success btn" ng-click="add()">Save</button>
                                        <button class="btn-inverse btn" type="reset">Reset</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="panel" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="">
                        <div class="panel-heading">
                            <h2>Guests <p style="float:right;text-transform:capitalize; font-weight:100;">Double-click record to edit and press enter key to save.</p></h2>
                            <div class="panel-ctrls" data-actions-container="" data-action-collapse="{&quot;target&quot;: &quot;.panel-body&quot;}"><span class="button-icon has-bg"><i class="ti ti-angle-down"></i></span></div>
                        </div>
                        <div class="panel-body no-padding" style="display: block;">
                            <table class="table table-striped">
                                <thead>
                                    <tr class="warning">
                                        <th>#</th>
                                        <th>Fullname</th>
                                        <th>Email Address</th>
                                        <th>Phone Number</th>
                                        <th>Home Address</th>
                                        <th>Social Media Address</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="user in userrecord track by $index">
                                        <td>{{$index + 1}}</td>
                                        <td contenteditable="false" ng-dblclick="edit($event)" ng-keydown="update('fullname', $index, $event)">{{user.fullname}}</td>
                                        <td contenteditable="false" ng-dblclick="edit($event)" ng-keydown="update('emailaddress', $index, $event)">{{user.emailaddress}}</td>
                                        <td contenteditable="false" ng-dblclick="edit($event)" ng-keydown="update('phonenumber', $index, $event)">{{user.phonenumber}}</td>
                                        <td contenteditable="false" ng-dblclick="edit($event)" ng-keydown="update('homeaddress', $index, $event)">{{user.homeaddress}}</td>
                                        <td contenteditable="false" ng-dblclick="edit($event)" ng-keydown="update('socialmediaaddress', $index, $event)">{{user.socialmediaaddress}}</td>
                                        <td><button type="button" class="btn btn-danger" ng-click="delete(user.emailaddress, $index)">Delete</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--footer section start-->
        <footer>
            <p><a href="http://www.twitter.com/ioedeveloper">@ioedeveloper</a></p>
        </footer>
        <!--footer section end-->
    </section>

    <script src="js/jquery.nicescroll.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>